body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.child-component {
  margin-right: 20px; /* Adjust the value to set the desired space */
}

/* If you want space on the left side of the first child component */
.child-component:first-child {
  margin-left: 20px; /* Adjust the value to set the desired space */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  padding-inline: 5px;
}

.button-container button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:first-child {
  margin-left: 0;
}

.button-container button:last-child {
  margin-right: 0;
}

///////
/// 
/// 
/// 
/// 



.designer {
  position: absolute;
  bottom: 2px;
  right: 10px;
  color: black;
  font-family: "MyFont";
  font-size: small;
}

#banner {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 90px;
  right: 30%;
}