<body>
  <!-- <a href="/" id="homeButtonLink"><mat-icon style="transform: scale(1.5); color: black;">arrow_back_ios</mat-icon></a> -->

  <button mat-icon-button color="primary" class="icon-buttons" (click)="openDialogWithTemplateRef(confirmExit, 'Home')" style="left: 20px;">
    <mat-icon style="transform: scale(1.5); color: black;">arrow_back_ios</mat-icon>
  </button>

   <!-- <button mat-icon-button color="primary" class="icon-buttons" (click)="changeBackground(false)" style="right: 160px;" >
    <mat-icon class="icon-display">close</mat-icon>
  </button>  -->

      <button mat-icon-button color="primary" class="icon-buttons" (click)="openChampionsGuide()" style="right: 80px;" *ngIf="this.gameModel.secondPlayer">
        <mat-icon class="icon-display">notes</mat-icon>
      </button>

      <button mat-icon-button color="primary" class="icon-buttons" (click)="clipBoard('Game ID Copied to Clipboard !')" style="right: 80px;" *ngIf="!this.gameModel.secondPlayer">
        <mat-icon class="icon-display">share</mat-icon>
      </button>

      <button mat-icon-button color="primary" class="icon-buttons" (click)="openDialogWithTemplateRef(confirmExit, 'Info')" style="right: 20px;">
        <mat-icon class="icon-display">info</mat-icon>
      </button>

        <div *ngIf="(!isTurn || !this.gameModel.secondPlayer) && this.gameModel.gameStatus === -1" class="spinner">
        <div class="loading__bar"></div> <br>
        <h4>Waiting for opponent</h4>
      </div>  

      <div class="spinner" *ngIf="(isTurn && this.gameModel.secondPlayer) && this.gameModel.gameStatus === -1">
        <span class="breathe">Your Turn !</span> 
      </div>

      <div class="spinner" *ngIf="this.gameModel.gameStatus !== -1">
        <span class="gameOverText">{{this.gameOverText}}</span> 
      </div>
      

      <div class="timer-countdown" *ngIf="(isTurn && this.gameModel.secondPlayer) && this.gameModel.gameStatus === -1">
        <div class="frame">
          <div class="container">
            <div class="box-4">
              <div class="loader-4" >
                <p *ngIf="timer > 0" [ngStyle]="{'color': (timer < 6) ? 'red' : 'black', 'font-weight': 'bold'}">{{timer}}</p>
                <p style="font-weight: bold; color: red;" *ngIf="timer < 1">0</p>
                <div class="dbl-spin-1"></div>
                <div class="dbl-spin-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

     <div class="board">
        <div class="dropBox"></div>
        <div class="dropBox header"><p><span style="font-size: 1rem; color: black;">{{splitRule(rules[0], true)}}</span><br><br><span>{{splitRule(rules[0], false)}}</span></p></div>
        <div class="dropBox header"><p><span style="font-size: 1rem; color: black;">{{splitRule(rules[1], true)}}</span><br><br><span>{{splitRule(rules[1], false)}}</span></p></div>
        <div class="dropBox header"><p><span style="font-size: 1rem; color: black;">{{splitRule(rules[2], true)}}</span><br><br><span>{{splitRule(rules[2], false)}}</span></p></div>
        <div class="dropBox header"><p><span style="font-size: 1rem; color: black;">{{splitRule(rules[3], true)}}</span><br><br><span>{{splitRule(rules[3], false)}}</span></p></div>
        <div class="dropBox" (click)="gameAreaClick(0)"><img src={{this.images[0].source}} [ngStyle]="this.images[0].style"></div>
        <div class="dropBox" (click)="gameAreaClick(1)"><img src={{this.images[1].source}} [ngStyle]="this.images[1].style"></div>
        <div class="dropBox" (click)="gameAreaClick(2)"><img src={{this.images[2].source}} [ngStyle]="this.images[2].style"></div>
        <div class="dropBox header"><p><span style="font-size: 1rem; color: black;">{{splitRule(rules[4], true)}}</span><br><br><span>{{splitRule(rules[4], false)}}</span></p></div>
        <div class="dropBox" (click)="gameAreaClick(3)"><img src={{this.images[3].source}} [ngStyle]="this.images[3].style"></div>
        <div class="dropBox" (click)="gameAreaClick(4)"><img src={{this.images[4].source}} [ngStyle]="this.images[4].style"></div>
        <div class="dropBox" (click)="gameAreaClick(5)"><img src={{this.images[5].source}} [ngStyle]="this.images[5].style"></div>
        <div class="dropBox header"><p><span style="font-size: 1rem; color: black;">{{splitRule(rules[5], true)}}</span><br><br><span>{{splitRule(rules[5], false)}}</span></p></div>
        <div class="dropBox" (click)="gameAreaClick(6)"><img src={{this.images[6].source}} [ngStyle]="this.images[6].style"></div>
        <div class="dropBox" (click)="gameAreaClick(7)"><img src={{this.images[7].source}} [ngStyle]="this.images[7].style"></div>
        <div class="dropBox" (click)="gameAreaClick(8)"><img src={{this.images[8].source}} [ngStyle]="this.images[8].style"></div>

    </div>

    <a #openModal (click)="navigate()" style="visibility: hidden;"></a>

    <div #userModal id="user-modal" class="modal-dialog">
        <app-user-name-dialog></app-user-name-dialog>
    </div>

    <div class="scoreBoard" *ngIf="this.gameModel.secondPlayer">
      <h3 class="scoreBoardText">You : {{scoreBoard.user}} - {{scoreBoard.opponent}} : Opponent</h3>
    </div>

    <!-- Testttt -->

    <ng-template #confirmExit>
      <h2 matDialogTitle style="font-family: 'MyFont';">Notice!</h2>
      <mat-dialog-content>
        <p>Are you sure you want to leave the game?</p>
      </mat-dialog-content>
      <mat-dialog-actions >
        <!-- <button mat-button matDialogClose color="primary">Dismiss</button> -->
        <app-pixel-button class="child-component" [buttonName]="'Stay'" (notify)="closeDialogs()"></app-pixel-button>
        <app-pixel-button class="child-component" [buttonName]="'Leave'" (notify)="leavePage()"></app-pixel-button>
      </mat-dialog-actions>
    </ng-template>

    
</body>

