@import 'game-second.scss';

::ng-deep html {
 // background-image: url("/assets/photos/bg.jpg");
  background-color: #00bfb3;
}

 body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #00bfb3;
 }

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 50px;
}

.board .dropBox {
  position: relative;
  width: 140px;
  height: 140px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;

  &::before {
    content: "";
    border: 4px solid #000000;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.board .dropBox:nth-child(4),
.board .dropBox:nth-child(8),
.board .dropBox:nth-child(12),
.board .dropBox:nth-child(16) {
  border-right: none;

  &::before {
    border-right: none;
  }
}

.board .dropBox:nth-child(1),
.board .dropBox:nth-child(5),
.board .dropBox:nth-child(9),
.board .dropBox:nth-child(13) {
  border-left: none;

  &::before {
    border-left: none;
  }
}

.board .dropBox:nth-child(13),
.board .dropBox:nth-child(14),
.board .dropBox:nth-child(15),
.board .dropBox:nth-child(16) {
  border-bottom: none;

  &::before {
    border-bottom: none;
  }
}

.board .dropBox:nth-child(1),
.board .dropBox:nth-child(2),
.board .dropBox:nth-child(3),
.board .dropBox:nth-child(4) {
  border-top: none;

  &::before {
    border-top: none;
  }

}

// Bottom right area half border
// .board .dropBox:nth-child(16){
//   border: 1px solid transparent;
//   position: relative;
// }

// .board .dropBox:nth-child(16)::before,
// .board .dropBox:nth-child(16)::after {
//   content: "";
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   width: 30%;
//   height: 30%;
//   pointer-events: none; /* Prevent interaction with pseudo-elements */
// }

// .board .dropBox:nth-child(16)::before {
//   bottom: 0;
//   right: 0;
//   border-right: 4px solid red; /* Adjust the border color and width as needed */
//   border-bottom: 4px solid red; /* Adjust the border color and width as needed */
// }

// /Bottom right area half border


.icon-buttons {
  position: absolute;
  top: 10px;
  font-size: larger;
  color: black;
}


.icon-display {
  transform: scale(1.5);
}

.spinner {
  position: absolute;
  top: 25px;
  right: 45%;
  display: inherit;
}

.custom-spinner {
  height: 50px !important;
  width: 50px !important;
}

h4 {
  font-family: "MyFont";
  margin-top: -1%;
  letter-spacing: .1rem;
}

p {
  font-family: "MyFont";
  letter-spacing: .1rem;
  display: ruby !important;
}

.header {
  color: white;
  background-color: #4b658496;

  //background-image: linear-gradient(to bottom, rgba(130, 230, 223, 0.336), rgba(242, 255, 254, 0));
}

.timer-countdown {
  position: absolute;
  top: 25px;
  right: 46%;
  display: inherit;
}

// .top-header{
//   position: absolute;
//   top: -70px;
// }

// .left-header{
//   position: absolute;
//   left: -100px;
// }

#homeButtonLink {
  position: absolute;
  top: 30px;
  left: 30px;
}

