<div class="pixel-grid" (click)="clickEvent()">
    <div class="text">{{buttonName}}</div>

    <div class="transparent"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="transparent"></div>

    <div class="black"></div>
    <div class="lightg"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="lightg"></div>
    <div class="black"></div>

    <div class="black"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="black"></div>

    <div class="black"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="black"></div>

    <div class="black"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="black"></div>

    <div class="black"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="black"></div>

    <div class="black"></div>
    <div class="lightg"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="white"></div>
    <div class="lightg"></div>
    <div class="black"></div>

    <div class="black"></div>
    <div class="grey"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="lightg"></div>
    <div class="grey"></div>
    <div class="black"></div>

    <div class="transparent"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="black"></div>
    <div class="transparent"></div>
  </div>