<a href="/" id="homeButtonLink"><mat-icon style="transform: scale(1.5); color: black; font-weight: bold;">arrow_back_ios</mat-icon></a>

<div class="container">
  <div class="card-container">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('https://ddragon.leagueoflegends.com/cdn/14.2.1/img/spell/ThreshW.png'); background-size: cover;"></div>
        <mat-card-title>How can I play with my friend?</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <br>
      <br>
      <br>
      <mat-icon class="icon-display">share</mat-icon>
      <!-- <img
        mat-card-image
        src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_0.jpg"
        alt="Thresh Splash"
      />  -->
      <mat-card-content >
        <br>
        <p>
          Copy the game id by pressing the share button and invite your friend to your challenge!
        </p>
      </mat-card-content>
       <mat-card-actions>
        <!-- <mat-icon >clear</mat-icon> -->
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
      </mat-card-actions> 
    </mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('https://ddragon.leagueoflegends.com/cdn/14.2.1/img/item/3109.png'); background-size: cover;"></div>
        <mat-card-title>How to Join?</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <br>
      <app-pixel-button class="child-component" [buttonName]="'Join Game'"></app-pixel-button>
      <!-- <img
        mat-card-image
        src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_0.jpg"
        alt="Thresh Splash"
      /> -->
      <mat-card-content>
        <p>
          Join your friend's challenge by pasting the game id you received from your friend into the join game area in the main menu!
        </p>
      </mat-card-content>
       <mat-card-actions>
        <!-- <mat-icon >change_history</mat-icon> -->
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
      </mat-card-actions> 
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('/assets/photos/favicon.gif'); background-size: cover;"></div>
        <mat-card-title>How to Play </mat-card-title>
         <mat-card-subtitle>Tic Tac Toe</mat-card-subtitle> 
      </mat-card-header>
      <br>
       <img
        mat-card-image
        src="https://upload.wikimedia.org/wikipedia/commons/8/89/Jogo_da_velha_-_tic_tac_toe.png"
        alt="Tic Tac Toe"
      /> 
      <mat-card-content >
        <p>
          If you don't know how to play Tic Tac Toe, you can turn off your computer
        </p>
      </mat-card-content>
       <mat-card-actions>
        <!-- <mat-icon>games</mat-icon> -->
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
      </mat-card-actions> 
    </mat-card>

  </div>
</div>

